<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-Canadian Web Designs</title>
    <link rel="stylesheet" href="/static/img/css/login.css">

</head>
<body>
    <body>
        <div>
              <h2 class="cwd-t-heading">Canadian Web Designs - Marketing Template</h2>
                 <!-- <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button> -->
                <div id="id01" class="modal">     
        </div>
      
          
    <!-- Form Action Submit -->

          <form class="modal-content animate" action="" method="post">
            <div class="imgcontainer">
              <!-- <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span> -->
              <img src="/static/img/favicon.png" alt="Avatar" class="avatar">
            </div>
        
            <div class="container" style="text-align: center;">
              <label for="username"><b>Enter Your Email</b></label>
              <input type="text" placeholder="Enter Email" name="username" required>
        
              <label for="password"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="password" required>
                
              <button type="submit">Login</button>
              <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
              </label>
            </div>
        
            <div class="container" style="background-color:#f1f1f1">
              <button type="button" onclick="document.getElementById('id01').style.display=''" class="cancelbtn">Cancel</button>
              <span class="psw">No Account <a href="register.html">Yet?</a></span>
            </div>
          </form>
        </div>
        
        <!-- <script>
        // Get the modal
        var modal = document.getElementById('id01');
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        </script> -->
        
        </body>
</body>
</html>







